body {
    
}

.images {
    /* width: 100vw;
    height: 100vw; */
    display: flex;
}

#kim {
    position: absolute;
    width: 100%;
    /* height: 100%; */
}

#explosion1 {
    position: absolute;
    top: 5%;
    left: 5%;
    height:25%;
    width: 25%;
    z-index: 
}

#explosion2 {
    position: absolute;
    top: 75vw;
    left: 2vh;
    height:25vw;
    width: 25vw;
}
#explosion3 {
    position: absolute;
    top: 3vw;
    left: 55vh;
    height:50vw;
    width: 50vw;
}
#explosion4 {
    position: absolute;
    top: 50vw;
    left: 50vh;
    height:50vw;
    width: 50vw;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

