/* header */


#map-image {
    display: inline-block;
    background-color: rgba(14, 1, 1, 0.5);
    padding: 20px;
    color: white;
    border: 10px solid rgb(163, 160, 160);
}

#gif {
    height: 100px;
    width: auto;
}

